.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
  gap: 16rem;
  .selection {
    position: relative;
  }
}
