.arena {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  opacity: 0;
  gap: 8rem;
  animation: fadeIn 0.3s 0.2s ease-in-out forwards;
  transition: all 0.3s;
  @media (min-width: 768px) {
    gap: 5rem;
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  .pickedLabel {
    color: #fff;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    font-style: normal;
    position: absolute;
    text-wrap: nowrap;
    left: 50%;
    bottom: -40%;
    translate: -50% 0;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    @media (min-width: 768px) {
      top: -30%;
      bottom: unset;
      font-size: 2.4rem;
    }
  }
  .selectedContainer {
    position: relative;
    @media (min-width: 768px) {
      animation: slideLeft 0.5s ease-in-out forwards;
      @keyframes slideLeft {
        to {
          translate: -100% 0;
        }
      }
    }
  }
  .opponentContainer {
    position: relative;
    @media (min-width: 768px) {
      translate: 100% 0;
    }
    .loadingParticles {
      transition: opacity 3s;
      animation: scaleUp 2s 2s ease-in-out forwards;
      scale: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      @keyframes scaleUp {
        to {
          scale: 1;
        }
      }
    }
    .opponent {
      position: relative;
      filter: saturate(0);
      scale: 0;
      animation: bounceUp 1s 1s forwards, scaleUp 3s 2s ease-in-out forwards,
        shake 0.3s 2s ease-in infinite alternate;
      @keyframes bounceUp {
        50% {
          scale: 1.2;
        }
        to {
          scale: 1;
        }
      }
      @keyframes scaleUp {
        to {
          scale: 1.4;
        }
      }
      @keyframes shake {
        0% {
          transform: translate(0, 0);
        }
        25% {
          transform: translate(5px, 5px);
        }
        50% {
          transform: translate(0, 0);
        }
        75% {
          transform: translate(-5px, 5px);
        }
        100% {
          transform: translate(0, 0);
        }
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100%;
        height: 100%;
        animation: expand 2s 0.2s ease-in-out forwards infinite;
        transition: all 0.3s;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        z-index: -1;
        pointer-events: none;
      }
      &::after {
        animation: expand-100 2s 0.2s ease-in-out forwards infinite;
        background: rgba(255, 255, 255, 0.2);
      }
      @keyframes expand {
        to {
          width: 150%;
          height: 150%;
          opacity: 0;
        }
      }
      @keyframes expand-100 {
        to {
          width: 200%;
          height: 200%;
          opacity: 0;
        }
      }
    }
    &.reveal {
      .loadingParticles {
        opacity: 0;
        animation: none;
        scale: 1;
      }
      .opponent {
        filter: none;
        scale: 1.4;
        animation: smash 0.3s 0.1s ease-in-out forwards;
        &::before {
          display: none;
        }
        &::after {
          animation: shockwave 1s ease-in-out forwards;
        }
        @keyframes shockwave {
          to {
            width: 10000%;
            height: 10000%;
            opacity: 0;
          }
        }
        @keyframes smash {
          from {
            scale: 1.5;
          }
          to {
            scale: 1;
          }
          75% {
            scale: 0.95, 1.05;
          }
        }
      }
    }
  }
  .winner {
    animation: bounce 1s ease-in-out alternate infinite;
    @keyframes bounce {
      50% {
        scale: 1.2;
      }
      to {
        scale: 0.9;
      }
    }
  }
  .draw {
    filter: saturate(0);
  }
  .results {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    bottom: -190%;
    align-items: center;
    z-index: 99;
    @media (min-width: 768px) {
      gap: 4rem;
      bottom: unset;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
    .label {
      scale: 0;
      font-size: 6rem;
      font-weight: 700;
      text-wrap: nowrap;
      text-transform: uppercase;
      animation: popIn 0.3s 0.5s ease-in-out forwards;
      @keyframes popIn {
        50% {
          scale: 1.1;
        }
        80% {
          scale: 0.9;
        }
        100% {
          scale: 1;
        }
      }
    }
    .button {
      scale: 0;
      border: 0;
      padding: 1.5rem 6rem;
      cursor: pointer;
      color: #3b4262;
      border-radius: 0.8rem;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 2.5px;
      background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
      animation: popIn 0.3s 0.8s ease-in-out forwards;
      &:hover {
        color: #db2e4d;
      }
      @keyframes popIn {
        50% {
          scale: 1.1;
        }
        80% {
          scale: 0.9;
        }
        100% {
          scale: 1;
        }
      }
    }
  }
}
