:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
html {
  font-size: 62.5%;
}
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
}

