@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
}

